<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="projects.css" />
    <link rel="stylesheet" href="resume.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.4"
      integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
      crossorigin="anonymous"
    ></script>
    <title>ABOUT ME - IsaiahSama</title>
  </head>
  <body>
    <nav>
      <div class="full-width">
        <div class="inline">
          <span class="lefty">
            <p class="no-overflow">
              <span class="heavy-font padded inline"
                ><a href="/index.html">Isaiah Carrington</a></span
              >/ Versatile Developer
            </p>
          </span>
          <span class="righty">
            <ul class="no-overflow">
              <li class="inline">
                <a
                  href="#"
                  class="link current"
                  hx-get="/about.html"
                  hx-target="#contentSection"
                  hx-swap="innerHTML transition:true"
                  >About Me</a
                >
              </li>
              <li class="inline">
                <a
                  href="resume.html"
                  class="link"
                  hx-get="/resumeBody.html"
                  hx-target="#contentSection"
                  hx-swap="innerHTML transition:true"
                  >Resume</a
                >
              </li>
              <li class="inline">
                <a
                  href="projects.html"
                  class="link"
                  hx-get="/projectsBody.html"
                  hx-target="#contentSection"
                  hx-swap="innerHTML transition:true"
                  >Projects</a
                >
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
    <section class="centered-content font-big slide-across" id="contentSection">
      <div class="padded">
        <h2>Hey there, I'm Isaiah!</h2>
        <p>
          Welcome to my website! The go to location for my programming projects,
          second only to my
          <a href="https://https://github.com/IsaiahSama">GitHub</a>.
        </p>
        <p>
          I'm a versatile developer, with control over Python and Javascript,
          allowing me to have power in the various fields such as web scraping,
          API development, full stack applications, task automation and more.
        </p>
        <p>
          But of course, that's not all I'm limited to. Unofficially, I also
          lightly dabble in various other fields such as Unity, AR experiences,
          Pixelart and even modelling (with Blender 3D)!
        </p>

        <p>Thank you for visiting this page, I hope you enjoy your stay!</p>
      </div>
    </section>
    <div class="particle-container"></div>

    <footer>
      <div class="footer no-overflow center-text">
        <div class="padded">
          <span
            ><a href="https://www.linkedin.com/in/isaiah-carrington-231501208/"
              >LinkedIn</a
            ></span
          >
          <span><a href="mailto:isaiahcarrington46@gmail.com">Email</a></span>
        </div>
        <span>&copy; 2021 - 2023 by Isaiah Carrington</span>
      </div>
    </footer>
  </body>
  <script src="index.js"></script>
</html>
