/* Classes */

.projects{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1.2em;
}

.project-box {
  min-width: 100%;
  max-width: 100%;
  /* margin-left: 20%;
  margin-top: 2em;
  margin-bottom: 1em; */
  background-color: var(--project-box-color);
  filter: drop-shadow(-2px 5px 4px rgb(205, 196, 223));
  /* border: 2px darkblue dashed; */
}

.project-title {
  color: rgb(99, 64, 153);
  font-size: 1.2em;
}

.spacer {
  min-height: 20vh;
  min-width: 100%;
}

.books {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
/* 
.dark-mode .project-box{
  background-color: #333;
} */

@media only screen and (max-width: 600px) {
  .project-box {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .projects{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: auto;
  }
}
