/* Classes */

.project-box {
  min-width: 60%;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 2em;
  margin-bottom: 1em;
  background-color: rgb(246, 243, 252);
  filter: drop-shadow(-2px 5px 4px rgb(205, 196, 223));
  /* border: 2px darkblue dashed; */
}

.project-title {
  color: rgb(99, 64, 153);
  font-size: 1.2em;
}

.spacer {
  min-height: 20vh;
  min-width: 100%;
}

.books {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media only screen and (max-width: 600px) {
  .project-box {
    max-width: 90%;
    width: 90%;
    margin-left: 5%;
  }
}
