/* Misc */
body{
    color: rgb(224, 224, 224);
    background-color: black;
    margin-top: 0;
    overflow-x: hidden;
    letter-spacing: 0.05em;;
}

ul {
    list-style: none;
    padding: 0;
}

ul > li > a {
    color: rgb(224, 224, 224);
    text-decoration: none;
}

.highlight{
    color: rgba(82, 221, 36, 1);
}

img{
    object-fit: contain;
}

/* Stylin' */

h1 {
    color: white;
}

h2{ 
    color: rgba(192, 192, 192, 1);
}

section{
    min-height: 100vh;
    padding: 0.3em;
    border-bottom: 2px solid rgba(82, 221, 36, 1);
}

#introSection {
    background-image: url('/media/page/header_image.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected{
    color: rgba(82, 221, 36, 1)
}

#nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profilePicture{
    padding: .2em .5em;
    width: 30px;
    height: 30px;
    border-radius: 70%;
}

#navContainer > ul {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 2rem;
}

.centerWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#introContainer {
    text-align: center;
}

#introContainer h1 {
    font-size: 3em;
    margin: 0.3em;
}

#introContainer h2 {
    font-size: 1.2em;
    margin: 0;
}

button {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(224, 224, 224);
    border: 3px solid rgba(82, 221, 36, 1);
    border-radius: 50px;
    padding: 0.6em 1.5em;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutContainer {
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center
}

#aboutText{
    max-width: 50%;
}

#aboutText ul{
    list-style-type: disc;
    padding-left: 1.5em;
}

#aboutText ul li {
    margin: 0.5em 0;
}

#tagsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em 0;
}

#tagsContainer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

#tagsContainer li {
    margin: 0.5em 1em;
}

.separator{
    border-bottom: 2px solid rgba(82, 221, 36, 1);
    width: 50px;
}

#skillsSection{
    justify-content: space-evenly;
    background-color: rgba(26, 26, 26, 1);
}

#skillsContainer {
    padding: 2em;
    background-color: rgba(51, 51, 51, 1);
    border-radius: 15px;
}

#skillsList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    align-items: baseline;
}

#skillsList > li {
    text-align: center;
}

