footer{
  min-height: 2VH;
  text-align: center;
  font-style: italic;
  background-color: #333;
  color: #fff
  
  }
  
body{
  background-color: rgb(71, 2, 71);
  color:rgb(218, 8, 218)
}

p{
  padding-bottom: 1em
}

header{
  margin-bottom: 1em
}

nav{
  color:#fff
}

h2{
  text-decoration: underline
}

section{
  margin-bottom: 1.5em
}

h1{
  text-align: center;
}

article{
  margin-top: 1.2em;
  padding: 0.5em, 0, 0.5em, 0;
}

article h2{
  margin-bottom: 0.5em;
}

article p::first-line{
  text-indent: 2em;
}
