footer{
  min-height: 2VH;
  text-align: center;
  font-style: italic;
  background-color: #333;
  color: #fff
  }
  
body{
  background-color: #fff;
  color:rgb(0, 0, 0); 
  font-family:Montserrat;
}

p{
  padding-bottom: 0.2em
}

header{
  margin-bottom: 0.5em
}

nav{
  color:#fff
}

h2{
  color:rgb(192, 5, 192);
}

section{
  margin-bottom: 1em
}

h1{
  text-align: center;
}

article{
  margin-top: 0em;
  padding: 0.5em, 0, 0.5em, 0;
}

article h2{
  margin-bottom: 0.2em;
  font-weight:bold;
}

article p::first-line{
  text-indent: 2em;
}
