footer{
  max-heigt: 2.2VH;
  text-align: center;
  font-style: italic;
}

p{
  padding-bottom: 1em
}

header{
  margin-bottom: 1em
}

nav{
  color:#fff
}

h2{
  text-decoration: underline
}

section{
  margin-bottom: 1em
}
